<!DOCTYPE html>
<html>
  <head>
    
  </head>

  <body>
    <h1>Screenshot a Website</h1>
    <br>
    <form action="/takess" enctype="multipart/form-data" method="post">
      url: <input name="url" type="text" /><br><br>
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
